@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">ERP adrian</h1>
</div>
<ul class="slider">
    <li>
        <div class="container">
        <h2> Menú principal </h2>
        </div>
    </li>
</ul>

